[submodule "src/cross_compiler/binutils"]
	path = src/cross_compiler/binutils
	url = git://sourceware.org/git/binutils-gdb.git
[submodule "src/cross_compiler/gcc"]
	path = src/cross_compiler/gcc
	url = git://gcc.gnu.org/git/gcc.git
