[submodule "cross-compiler/binutils/src"]
	path = cross-compiler/binutils/src
	url = git://sourceware.org/git/binutils-gdb.git
[submodule "cross-compiler/gcc/src"]
	path = cross-compiler/gcc/src
	url = git://gcc.gnu.org/git/gcc.git
